# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
.virtualenv/

# Flask specific
instance/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite3-journal
*.db-journal

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 機密情報
ssl.*
*.wsgi
workers.txt
workers2.txt
san.txt
section2.sql
.env

# アプリケーション固有
visImage/*.jpg
visImage/*.jpeg
visImage/*.png
app.db
app.log
memo.txt
