{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='add_cut.css')}}">
{% endblock %}
{% block content %}
    <div class="tab">
        <p id="tabs">
            <a href="#tab1">MAIN</a>
            <a href="#tab2">DATA</a>
        </p>
        <div><input type="submit" form="myForm" value="SAVE" class="saveB"></div>
    </div>

    <h1>追加/分割カット</h1>

    <div id="tabbody">
    <section id="tab1">
    <form id="myForm" action="/add_cut" method="post" onsubmit="return saveDate()">
        <div class="infoAll">
            <div class="info-1">
                <input type="datetime-local" id="processDay" name="processDay" required>
                <label for="man">担当</label>
                <select id="man" name="man" required>
                    <option value="" disabled selected hidden>選択</option>
                </select>
            </div>

            <div class="qr">
                <img class="icon" id="qr" src="{{ url_for('static',filename='ca.svg')}}" onclick="onClickQR()">
                <canvas id="canvas" hidden></canvas>
                <label id="update"></label>
            </div>

            <div class="info-2">
                <label for="lotno">lotno</label>
                <input type="text" id="lotno" name="lotno" required>
                <label for="kind">品種</label>
                <input type="text" id="kind" name="kind" required>
            </div>

            <div class="info-3">
                <label for="cutList">理由</label>
                <select id="cutList" name="cutList" required></select>
            </div>
            <div class="info-4">
                <label for="memo">メモ</label>
                <textarea id="memo" name="memo"></textarea>
            </div>
        </div>

        <hr class="hr1">
        <div class="infoSUB">
            <div class="infoAdd">
                <h2>追加カット</h2>
                <br>
                <div>
                    <label for="length">全長</label>
                    <input type="text" inputmode="numeric" pattern="\d*" id="length" name="length" placeholder="mm" required>
                </div>
                <div>
                <label for="weight">重量</label>
                <input type="text" inputmode="decimal" id="weight" name="weight" placeholder="※小数1_kg" required>
                </div>
                <div class="ovd">
                    <label for="Top_len">OVD:上部長</label>
                    <input type="text" inputmode="numeric" pattern="\d*" id="Top_len" name="Top_len" placeholder="mm">
                </div>
                <div class="vad">
                    <label for="Top_OD">VAD:上部OD</label>
                    <input type="text" inputmode="decimal" id="Top_OD" name="Top_OD" placeholder="mm">
                </div>
                <div class="vad">
                    <label for="Btm_OD">VAD:下部OD</label>
                    <input type="text" inputmode="decimal" id="Btm_OD" name="Btm_OD" placeholder="mm">
                </div>
                <div class="vad">
                    <label for="Min_OD">VAD:最小OD</label>
                    <input type="text" inputmode="decimal" id="Min_OD" name="Min_OD" placeholder="mm">
                </div>
                <div class="vad">
                    <label for="Max_OD">VAD:最大OD</label>
                    <input type="text" inputmode="decimal" id="Max_OD" name="Max_OD" placeholder="mm">
                </div>
            </div>
            <div class="infoSplit">
                <h2>分割カット</h2>
                <div class="table_line">
                    <div class="block">No.</div>
                    <div class="block">全長</div>
                    <div class="block">重量</div>
                    <div class="block">上部長</div>
                </div>
                <div class="table_line">
                    <div class="block">1.</div>
                    <div class="block"><input type="text" inputmode="numeric" pattern="\d*" id="length1"  name="length1" placeholder="mm" required></div>
                    <div class="block"><input type="text" inputmode="decimal" id="weight1" name="weight1" placeholder="※小数1_kg" required></div>
                    <div class="block ovd"><input type="text" inputmode="numeric" pattern="\d*" id="Top_len1" name="Top_len1" placeholder="mm"></div>
                </div>
                <div class="table_line">
                    <div class="block">2.</div>
                    <div class="block"><input type="text" inputmode="numeric" pattern="\d*" id="length2" name="length2" placeholder="mm" required></div>
                    <div class="block"><input type="text" inputmode="decimal" id="weight2" name="weight2" placeholder="※小数1_kg" required></div>
                    <div class="block ovd"><input type="text" inputmode="numeric" id="Top_len2" pattern="\d*" name="Top_len2" placeholder="mm"></div>
                </div>
                <div class="table_line">
                    <div class="block">3.</div>
                    <div class="block"><input type="text" inputmode="numeric" pattern="\d*" id="length3" name="length3" placeholder="mm"></div>
                    <div class="block"><input type="text" inputmode="decimal" id="weight3" name="weight3" placeholder="※小数1_kg"></div>
                    <div class="block ovd"><input type="text" inputmode="numeric" pattern="\d*" id="Top_len3" name="Top_len3" placeholder="mm"></div>
                </div>
                <div class="table_line">
                    <div class="block">4.</div>
                    <div class="block"><input type="text" inputmode="numeric" pattern="\d*" id="length4" name="length4" placeholder="mm"></div>
                    <div class="block"><input type="text" inputmode="decimal" id="weight4" name="weight4" placeholder="※小数1_kg"></div>
                    <div class="block ovd"><input type="text" inputmode="numeric" pattern="\d*" id="Top_len4" name="Top_len4" placeholder="mm"></div>
                </div>
                <div class="table_line">
                    <div class="block">5.</div>
                    <div class="block"><input type="text" inputmode="numeric" pattern="\d*" id="length5" name="length5" placeholder="mm"></div>
                    <div class="block"><input type="text" inputmode="decimal" id="weight5" name="weight5" placeholder="※小数1_kg"></div>
                    <div class="block ovd"><input type="text" inputmode="numeric" pattern="\d*" id="Top_len5" name="Top_len5" placeholder="mm"></div>
                </div>
                <div class="table_line">
                    <div class="block">6.</div>
                    <div class="block"><input type="text" inputmode="numeric" pattern="\d*" id="length6" name="length6" placeholder="mm"></div>
                    <div class="block"><input type="text" inputmode="decimal" id="weight6" name="weight6" placeholder="※小数1_kg"></div>
                    <div class="block ovd"><input type="text" inputmode="numeric" pattern="\d*" id="Top_len6" name="Top_len6" placeholder="mm"></div>
                </div>
                <div class="table_line">
                    <div class="block">7.</div>
                    <div class="block"><input type="text" inputmode="numeric" pattern="\d*" id="length7" name="length7" placeholder="mm"></div>
                    <div class="block"><input type="text" inputmode="decimal" id="weight7" name="weight7" placeholder="※小数1_kg"></div>
                    <div class="block ovd"><input type="text" inputmode="numeric" pattern="\d*" id="Top_len7" name="Top_len7" placeholder="mm"></div>
                </div>
                <div class="table_line">
                    <div class="block">8.</div>
                    <div class="block"><input type="text" inputmode="numeric" pattern="\d*" id="length8" name="length8" placeholder="mm"></div>
                    <div class="block"><input type="text" inputmode="decimal" id="weight8" name="weight8" placeholder="※小数1_kg"></div>
                    <div class="block ovd"><input type="text" inputmode="numeric" pattern="\d*" id="Top_len8" name="Top_len8" placeholder="mm"></div>
                </div>
                <div class="table_line">
                    <div class="block">9.</div>
                    <div class="block"><input type="text" inputmode="numeric" pattern="\d*" id="length9" name="length9" placeholder="mm"></div>
                    <div class="block"><input type="text" inputmode="decimal" id="weight9" name="weight9" placeholder="※小数1_kg"></div>
                    <div class="block ovd"><input type="text" inputmode="numeric" pattern="\d*" id="Top_len9" name="Top_len9" placeholder="mm"></div>
                </div>
            </div>
        </div>
    </form>
    </section>

    <section id="tab2">
        <div id="users">
            <table id="usersTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>processDay</th>
                        <th>man</th>
                        <th>lotno</th>
                        <th>kind</th>
                        <th>cutList</th>
                        <th>memo</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>

    </div>


{% endblock %}

{% block script %}
<script src="{{ url_for('static',filename='add_cut.js')}}"></script>
{% endblock %}
