<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>K_process</title>
    {% block link %}{% endblock %}
</head>

<body>
    <div class="top-image-area">
        <header>
        <nav>
            <ul>
                <!--ナビゲーションメニュー-->
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('stocker') }}">Stocker</a></li>
                <li><a href="{{ url_for('cut') }}">NewCUT</a></li>
                <li><a href="{{ url_for('add_cut') }}">AddCUT</a></li>
                <li><a href="{{ url_for('sp') }}">SP</a></li>
                <li><a href="/">SD</a></li>
                <li><a href="/">SC</a></li>
                <li><a href="{{ url_for('sh') }}">SH</a></li>
                <li><a href="/">SEG</a></li>
                <li><a href="{{ url_for('vi') }}">VIS</a></li>
                <li><a href="{{ url_for('vad_ins') }}">vad_INS</a></li>
            </ul>
        </nav>
        </header>
    </div>
    {% block content %} {% endblock %}

<!-- スクリプトの読み込み -->
<script src="{{ url_for('static',filename='jquery-3.6.1.min.js')}}"></script>
<script src="{{ url_for('static',filename='jsQR.js')}}"></script>
<script src="{{ url_for('static',filename='qr-code.js')}}"></script>
{% block script %}{% endblock %}

</body>
</html>

