{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='cut.css')}}">
{% endblock %}
{% block content %}
    <div class="tab">
        <p id="tabs">
            <a href="#tab1">MAIN</a>
            <a href="#tab2">DATA</a>
        </p>
        <div><input type="submit" form="myForm" value="SAVE" class="saveB"></div>
    </div>


    <h1>SH</h1>

    <div id="tabbody">
    <section id="tab1">
    <form id="myForm" action="/cut" method="post" onsubmit="return saveDate()">
        <div class="infoAll">
            <div class="info-1">
                <input type="datetime-local" id="processDay" name="processDay" required>
                <label for="man">担当</label>
                <select id="man" name="man" required>
                    <option value="" disabled selected hidden>選択</option>
                </select>
            </div>

            <div class="qr">
                <img class="icon" id="qr" src="{{ url_for('static',filename='ca.svg')}}" onclick="onClickQR()">
                <canvas id="canvas" hidden></canvas>
                <label id="doubleCheck"></label>
            </div>

            <div class="info-2">
                <label for="lotno">lotno</label>
                <input type="text" id="lotno" name="lotno" required>
                <label for="kind">品種</label>
                <input type="text" id="kind" name="kind" required>
            </div>

            <div class="info-3">
                <label for="length">全長</label>
                <input type="text" inputmode="numeric" pattern="\d*" id="length" name="length" placeholder="mm" onchange="calculate()" required>
                <label for="weight">重量</label>
                <input type="text" inputmode="decimal" id="weight" name="weight"  placeholder="※小数第1_kg" required>
            </div>

            <div class="info-4">
                <label for="memo">メモ</label>
                <textarea id="memo" name="memo"></textarea>
            </div>
        </div>

        <hr class="hr1">
        <div class="infoSUB">
            <div class="infoOVD">
                <h2>OVD【理由/長さ】</h2>
                <div>
                    <label for="TopList">上部理由</label>
                    <select id="TopList" name="TopList"></select>
                </div>
                <div>
                    <label for="BtmList">下部理由</label>
                    <select id="BtmList" name="BtmList"></select>
                </div>
                <div>
                    <label for="SV_len">G全長</label>
                    <input type="text" inputmode="numeric" pattern="\d*" id="SV_len" name="SV_len" placeholder="mm" onchange="calculate()">
                </div>
                <div>
                    <label for="Top_len">上部長</label>
                    <input type="text" inputmode="numeric" pattern="\d*" id="Top_len" name="Top_len" placeholder="mm" onchange="calculate()">
                </div>
                <div>
                    <label>下部長</label>
                    <input type="text" inputmode="numeric" pattern="\d*" id="Btm_len" name="Btm_len" placeholder="mm">
                </div>
            </div>
            <div class="infoVAD">
                <h2>VAD【外径】</h2>
                <div>
                    <label for="Top_OD">上部</label>
                    <input type="text" inputmode="decimal" id="Top_OD" name="Top_OD" placeholder="mm">
                </div>
                <div>
                    <label for="Btm_OD">下部</label>
                    <input type="text" inputmode="decimal" id="Btm_OD" name="Btm_OD" placeholder="mm">
                </div>
                <div>
                    <label for="Min_OD">最小</label>
                    <input type="text" inputmode="decimal" id="Min_OD" name="Min_OD" placeholder="mm">
                </div>
                <div>
                    <label for="Max_OD">最大</label>
                    <input type="text" inputmode="decimal" id="Max_OD" name="Max_OD" placeholder="mm">
                </div>
            </div>
        </div>
    </form>
    </section>

    <section id="tab2">
        <div id="users">
            <table id="usersTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>processDay</th>
                        <th>man</th>
                        <th>lotno</th>
                        <th>kind</th>
                        <th>length</th>
                        <th>weight</th>
                        <th>memo</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>

    </div>


{% endblock %}

{% block script %}
<script src="{{ url_for('static',filename='cut.js')}}"></script>
{% endblock %}
<!--<script src="{{ url_for('static',filename='jquery-3.6.1.min.js')}}"></script>-->
<!--<script src="{{ url_for('static',filename='jsQR.js')}}"></script>-->
<!--<script src="{{ url_for('static',filename='qr-code.js')}}"></script>-->


<!--</body>-->
<!--</html>-->

