
{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='sp.css')}}">
{% endblock %}
{% block content %}
    <div class="tab">
        <p id="tabs">
            <a href="#tab1">MAIN</a>
            <a href="#tab2">DATA</a>
        </p>

        <h1>粗・外周研削</h1>
        <div><input type="submit" form="myForm" value="SAVE" class="saveB"></div>
    </div>

    <hr class="hr0">

    <div id="tabbody">
    <section id="tab1">
    <form id="myForm" action="/sp" method="post" onsubmit="return saveDate()">
        <div class="infoAll">
            <div class="info-1">
                <div class="qr">
                    <img class="icon" id="qr" src="{{ url_for('static',filename='ca.svg')}}" onclick="onClickQR()">
                    <canvas id="canvas" hidden></canvas>
                </div>
                <label for="spNo">号機</label>
                <select class="spNo" id="spNo" name="spNo" onchange="calculate()" required>
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <label for="processDaySet">取付日時</label>
                <input type="datetime-local" id="processDaySet" name="processDaySet" required>
                <label for="manSet">担当</label>
                <select class="man" id="manSet" name="manSet" required>
                    <option value="" disabled selected hidden>選択</option>
                </select>
            </div>

            <div class="info-2">
                <label for="lotno">LotNo</label>
                <input type="text" id="lotno" name="lotno" required>
                <label for="kind">品種</label>
                <input type="text" id="kind" name="kind" required>
                <label for="length">全長#500</label>
                <input type="text" inputmode="numeric" id="length" name="length" placeholder="mm" onchange="calculate()" required>
            </div>
            <hr class="hr0">
            <div class="info-3">
                プログラムNO
                <label><input type="radio" id="pgNo1" name="pgNo" value="O21" checked onchange="calculate()">O21(通常)</label>
                <label><input type="radio" id="pgNo2" name="pgNo" value="O20" onchange="calculate()">O20(再円研など)</label>
            </div>
            <hr class="hr0">
            <div class="measurement">
                <div>
                    <label>開始座標#501</label>
                    <label>最大値#502</label>
                    <label>最小値#503</label>
                    <input class="minus" type="button" value="-" onclick="minusAdd()">
                    <label id="label_change1">最短値#504</label>
                    <label id="label_change2">補正値#505</label>
                    <label>測定X#506</label>
                </div>
                <div>
                    <input class="autoInput" type="text" id="startX" name="startX" readonly>
                    <input type="text" inputmode="decimal" id="maxValue" name="maxValue" onchange="calculate()" required>
                    <input type="text" inputmode="decimal" id="minValue" name="minValue" onchange="calculate()" required>
                    <input type="text" inputmode="decimal" id="short" name="short" onchange="calculate()" required>
                    <input type="text" inputmode="decimal" id="collection" name="collection" onchange="calculate()" required>
<!--                    <input type="text" inputmode="decimal" id="MMs" name="MMs" onchange="calculate()" required>-->
                    <select id="MMs" name="MMs" onchange="calculate()" required>
                        <option value=""></option>
                        <option value="316">316</option>
                        <option value="300.5">300.5</option>
                        <option value="240">240</option>
                    </select>
                </div>
            </div>
            <hr class="hr0">
        </div>

        <div class="infoSUB">
            <div class="column1">
               <div>
                    <label></label>
                    <label class="small">回数</label>
                    <label>研削量</label>
                    <label>座標</label>
                    <label>OD</label>
                </div>
                <div>
                    <label>Auto</label>
                    <input class="small autoInput" type="text" id="number" name="number" readonly>
                    <input class="autoInput" type="text" id="ground1" name="ground1" readonly>
                    <input class="autoInput" type="text" id="coordinate1" name="coordinate1" readonly>
                    <input type="text" inputmode="decimal" id="od1" name="od1">
                </div>
                <div>
                    <label>2Time</label>
                    <input class="small" type="text" value="/1" disabled>
                    <select class="ground" id="ground2" name="ground2" onchange="calculate_Single(2)"></select>
                    <input class="autoInput" type="text" id="coordinate2" name="coordinate2" readonly>
                    <input type="text" inputmode="decimal" id="od2" name="od2">
                </div>
                <div>
                    <label>3Time</label>
                    <input class="small" type="text" value="/2" disabled>
                    <select class="ground" id="ground3" name="ground3" onchange="calculate_Single(3)"></select>
                    <input class="autoInput" type="text" id="coordinate3" name="coordinate3" readonly>
                    <input type="text" inputmode="decimal" id="od3" name="od3">
                </div>
                <div>
                    <label>4Time</label>
                    <input class="small" type="text" value="/3" disabled>
                    <select class="ground" id="ground4" name="ground4" onchange="calculate_Single(4)"></select>
                    <input class="autoInput" type="text" id="coordinate4" name="coordinate4" readonly>
                    <input type="text" inputmode="decimal" id="od4" name="od4">
                </div>
                <div>
                    <label>5Time</label>
                    <input class="small" type="text" value="/4" disabled>
                    <select class="ground" id="ground5" name="ground5" onchange="calculate_Single(5)"></select>
                    <input class="autoInput" type="text" id="coordinate5" name="coordinate5" readonly>
                    <input type="text" inputmode="decimal" id="od5" name="od5">
                </div>
                <div>
                    <label>6Time</label>
                    <input class="small" type="text" value="/5" disabled>
                    <select class="ground" id="ground6" name="ground6" onchange="calculate_Single(6)"></select>
                    <input class="autoInput" type="text" id="coordinate6" name="coordinate6" readonly>
                    <input type="text" inputmode="decimal" id="od6" name="od6">
                </div>
                <div>
                    <label>7Time</label>
                    <input class="small" type="text" value="/1" disabled>
                    <select class="ground" id="ground7" name="ground7" onchange="calculate_Single(7)"></select>
                    <input class="autoInput" type="text" id="coordinate7" name="coordinate7" readonly>
                    <input type="text" inputmode="decimal" id="od7" name="od7">
                </div>
                <div>
                    <label>8Time</label>
                    <input class="small" type="text" value="/2" disabled>
                    <select class="ground" id="ground8" name="ground8" onchange="calculate_Single(8)"></select>
                    <input class="autoInput" type="text" id="coordinate8" name="coordinate8" readonly>
                    <input type="text" inputmode="decimal" id="od8" name="od8">
                </div>
                <div>
                    <label>9Time</label>
                    <input class="small" type="text" value="/3" disabled>
                    <select class="ground" id="ground9" name="ground9" onchange="calculate_Single(9)"></select>
                    <input class="autoInput" type="text" id="coordinate9" name="coordinate9" readonly>
                    <input type="text" inputmode="decimal" id="od9" name="od9">
                </div>
                <div>
                    <label>10Time</label>
                    <input class="small" type="text" value="-" disabled>
                    <select class="ground" id="ground10" name="ground10" onchange="calculate_Single(10)"></select>
                    <input class="autoInput" type="text" id="coordinate10" name="coordinate10" readonly>
                    <input type="text" inputmode="decimal" id="od10" name="od10">
                </div>
                <hr class="hr0">
            </div>

            <div class="column2">
                <h2>(加工後)</h2>
                <div>
                    <label for="time">加工時間</label>
                    <input type="text" inputmode="numeric" pattern="\d*" id="time" name="time" placeholder="min" required>
                </div>
                <div>
                    <label for="ODave">ODave</label>
                    <input type="text" inputmode="decimal" id="ODave" name="ODave" placeholder="mm" required>
               </div>
                <div>
                    <label for="ODmin">ODmin</label>
                    <input type="text" inputmode="decimal" id="ODmin" name="ODmin" placeholder="mm">
                </div>
                <div>
                    <label for="pos">POS</label>
                    <input type="tel" id="pos" name="pos" placeholder="mm,mm">
                </div>
                <div>
                    <label>面</label>
                    <select multiple id="face">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                </div>
                <div class="info-4">
                    <textarea id="memo" name="memo" placeholder="備考"></textarea>
                </div>
            </div>
        </div>

        <div class="end">
            <input class="tempBtn" type="button" value="一時保存" onclick="tempSave()">
            <label for="processDayRe">取外日時</label>
            <input type="datetime-local" id="processDayRe" name="processDayRe" required>
            <label for="manRe">担当</label>
            <select id="manRe" name="manRe" required>
                <option value="" disabled selected hidden>選択</option>
            </select>
        </div>
    </form>
    </section>

    <section id="tab2">
        <div id="users">
            <table id="usersTable">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="users2">
            <table id="usersTable2">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>

    </div>


{% endblock %}

{% block script %}
<script src="{{ url_for('static',filename='sp.js')}}"></script>
{% endblock %}
<!--<script src="{{ url_for('static',filename='jquery-3.6.1.min.js')}}"></script>-->
<!--<script src="{{ url_for('static',filename='jsQR.js')}}"></script>-->
<!--<script src="{{ url_for('static',filename='qr-code.js')}}"></script>-->


<!--</body>-->
<!--</html>-->

