
{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stocker.css')}}">
{% endblock %}
{% block content %}
    <div class="tab">
        <p id="tabs">
            <a href="#tab1">MAIN</a>
            <!-- <a href="#tab2">DATA</a> -->
        </p>
        <div><input type="submit" form="" value="SAVE" class="save-button"></div>
    </div>

    <h1>ストッカー</h1>

    <div class="container">
        <table id="leftTable">
            <thead>
                <tr>
                    <th>棚No</th>
                    <th>LotNo</th>
                    <th>品名</th>
                    <th>状態</th>
                    <th>備考</th>
                </tr>
            </thead>
            <tbody>
                <!-- JavaScriptで行が追加 -->
            </tbody>
        </table>
        <table id="rightTable">
            <thead>
                <tr>
                    <th>棚No</th>
                    <th>LotNo</th>
                    <th>品種</th>
                    <th>状態</th>
                    <th>備考</th>
                </tr>
            </thead>
            <tbody>
                <!-- JavaScriptで行が追加 -->
            </tbody>
        </table>
    </div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static',filename='stocker.js')}}"></script>
{% endblock %}

