
{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stocker.css')}}">
{% endblock %}
{% block content %}
    <h1>ストッカー前棚</h1>
    <div class="container">
        <table id="leftTable">
            <thead>
                <tr>
                    <th>棚No</th>
                    <th>LotNo</th>
                    <th>品名</th>
                    <th>状態</th>
                    <th>備考</th>
                </tr>
            </thead>
            <tbody>
                <!-- JavaScriptで行が追加 -->
            </tbody>
        </table>
        <h1>ストッカー後棚</h1>
        <table id="rightTable">
            <thead>
                <tr>
                    <th>棚No</th>
                    <th>LotNo</th>
                    <th>品種</th>
                    <th>状態</th>
                    <th>備考</th>
                </tr>
            </thead>
            <tbody>
                <!-- JavaScriptで行が追加 -->
            </tbody>
        </table>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="qr">
                <img class="icon" id="qr" src="{{ url_for('static',filename='ca.svg')}}" onclick="onClickQR()">
                <canvas id="canvas" hidden></canvas>
            </div>
            <button id="inOrEdit">手入力</button>
            <button id="out">出庫</button>
        </div>
    </div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static',filename='stocker.js')}}"></script>
{% endblock %}

