
{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vad_ins.css')}}">
{% endblock %}
{% block content %}
    <div class="tab">
        <p id="tabs">
            <a href="#tab1">MAIN</a>
            <a href="#tab2">DATA</a>
        </p>
        <div><input type="submit" form="" value="SAVE" class="save-button"></div>
    </div>

    <h1>VAD 最終検査</h1>

    <div id="tabbody">
    <section id="tab1">
    <form id="myForm" action="/vad_INS" method="post" onsubmit="return saveDate()">
        <div class="info">
            <div class="qr">
                <img class="icon" id="qr" src="{{ url_for('static',filename='ca.svg')}}" onclick="onClickQR()">
                <canvas id="canvas" hidden></canvas>
            </div>
            <div>
                <label for="processDay">日付</label>
                <input type="datetime-local" id="processDay" name="processDay" required>
            <div>
                <label for="man">担当</label>
                <select id="man" name="man" required>
                    <option value="" disabled selected hidden>選択</option>
                </select>
            </div>
            <div>
                <label for="lotno">lotno</label>
                <input type="text" id="lotno" name="lotno" required>

            </div>
            <div>
                <label for="kind">品種</label>
                <input type="text" id="kind" name="kind" required>
            </div>
            <div>
                <label for="length">全長</label>
                <input type="text" inputmode="numeric" pattern="\d*" id="length" name="length" placeholder="mm" onchange="calculate()" required>
            </div>
            <div>
                <label for="weight">重量</label>
                <input type="text" inputmode="decimal" id="weight" name="weight"  placeholder="※小数第1_kg" required>
            </div>
            <div>
                <label for="Min_OD">最小</label>
                <input type="text" inputmode="decimal" id="Min_OD" name="Min_OD" placeholder="mm">
            </div>
            <div>
                <label for="Max_OD">最大</label>
                <input type="text" inputmode="decimal" id="Max_OD" name="Max_OD" placeholder="mm">
            </div>
            <div>
                <label for="memo">メモ</label>
                <textarea id="memo" name="memo"></textarea>
            </div>
        </div>
    </form>
    </section>

    <section id="tab2">
        <div id="users">
            <table id="usersTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>processDay</th>
                        <th>man</th>
                        <th>lotno</th>
                        <th>kind</th>
                        <th>length</th>
                        <th>weight</th>
                        <th>ODmin</th>
                        <th>ODmax</th>
                        <th>memo</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>

    </div>


{% endblock %}

{% block script %}
<script src="{{ url_for('static',filename='vad_ins.js')}}"></script>
{% endblock %}

